<app-navbar></app-navbar>


<div style="margin-top: 70px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 bg-dark navbar-expand-lg menu-lateral">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="align-items-end d-flex mb-3 mt-2 text-danger">
                            Mercado
                        </h1>
                    </div>
                </div>
                <hr class="bg-white m-0">
                <div class="row mt-3 mb-4 collapse navbar-collapse">
                    <div class="col-md-12">
                        <div>
                            <div>
                                <img class="iconVideoWhite mb-1 mr-2" src="../../assets/play.png" alt="Icone play" width="25px">
                                <small class="text-white text-muted"> 1 </small>
                                <a routerLink = "#video6" class="text-white">Como fazer uma análise de mercado</a>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div>
                            <div>
                                <img class="iconVideoWhite mb-1 mr-2" src="../../assets/play.png" alt="Icone play" width="25px">
                                <small class="text-white text-muted"> 2 </small>
                                <a routerLink = "#video7" class="text-white">Definição de Mercado</a>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div>
                            <div>
                                <img class="iconVideoWhite mb-1 mr-2" src="../../assets/play.png" alt="Icone play" width="25px">
                                <small class="text-white text-muted"> 3 </small>
                                <a routerLink = "#video8" class="text-white">Marketing e Projeção de Vendas</a>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div>
                            <div>
                                <img class="iconVideoWhite mb-1 mr-2" src="../../assets/play.png" alt="Icone play" width="25px">
                                <small class="text-white text-muted"> 4 </small>
                                <a routerLink = "#exercicio2" class="text-white">Exercicios</a>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div>
                            <div>
                                <img class="iconVideoWhite mb-1 mr-2" src="../../assets/play.png" alt="Icone play" width="25px">
                                <small class="text-white text-muted"> 5 </small>
                                <a routerLink = "#avaliacao2" class="text-white">Avaliação</a>
                            </div>
                            <hr>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-9">
                <div>
                    <div class="row mt-3">
                        <div class="col-md-10">
                            <h3>
                                <a href="" id="play">
                                    <img src="../../assets/play2.png" alt="" class="iconVideoBlack mb-1 mr-2" style="width: 30px;">
                                </a>
                                <small> 1 </small>
                                Como fazer uma análise de mercado
                            </h3>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-outline-danger">
                                Próxima aula
                            </button>
                        </div>
                        
                    </div>
                    <hr>
                    <div class="row mt-5 mb-5">
                        <div class="col-md-12">
                            <div class="col-md-12 d-flex justify-content-center" id="video1">
                                <iframe width="560" height="400" src="https://www.youtube.com/embed/BvhK6aOkGZM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<app-footer></app-footer>