<app-navbar></app-navbar>

<div style="margin-top: 60px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="background-color: #C4C4C4;">
                <div class="container">
                    <h1 class="mt-3 mb-3 text-black">
                        <img src="../../assets/imagem.png" alt="Logo bloco um" class="w-5 mt-2 img-fluid" style="width: 80px;">
                        Aprender a Empreender</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <h4>Nesse bloco você vai aprender tudo o que você precisa para empreender:</h4>
        <p class="text-justify">
            Conheça as principais características que um empreendedor deve ter e aprenda os 
            conceitos básicos sobre empreendedorismo, marketing e finanças. 
            Se você está querendo abrir um negócio ou se acabou de abrir este curso é para você!
        </p>

        <div class="row mt-5 mb-5">
            <div class="col-md-4">
                <div class="card shadow bg-white rounded border-0">
                    <div class="card-body">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-4">
                                <img src="../../assets/Mercado.png" alt="" class="card-img bg-color">
                            </div>
                            <div class="col-md-8">
                                <h4>Mercado</h4>
                            </div>
                            <div class="row">
                                <div class="col-md-12 d-flex justify-content-center" style="width: 350px;">
                                    <button class="btn btn-outline-danger  mt-4" routerLink = "/mercado">Ver esse conteúdo</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card shadow bg-white rounded border-0">
                    <div class="card-body">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-4">
                                <img src="../../assets/finanças.png" alt="" class="card-img bg-color">
                            </div>
                            <div class="col-md-8">
                                <h4>Finanças</h4>
                            </div>
                            <div class="row">
                                <div class="col-md-12 d-flex justify-content-center" style="width: 350px;">
                                    <button class="btn btn-outline-danger  mt-4" routerLink = "/financas" >Ver esse conteúdo</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card shadow bg-white rounded border-0">
                    <div class="card-body">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-4">
                                <img src="../../assets/empreender.png" alt="" class="card-img bg-color">
                            </div>
                            <div class="col-md-8">
                                <h4>Empreendendo</h4>
                            </div>
                            <div class="row">
                                <div class="col-md-12 d-flex justify-content-center" style="width: 350px;">
                                    <button class="btn btn-outline-danger  mt-4" routerLink = "/empreendedorismo">Ver esse conteúdo</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


<app-footer></app-footer>