

<div style="margin-bottom: 100px;">
    <div class="container-fluid" style="background-color: #E8505B; height: 300px;">
        <div class="row">
            <div class="col-md-12" style="margin-top: 70px;">
                <h1 class="d-flex justify-content-center" id="branco">Solicitar seu beneficio é muito simples!</h1>
                <h5 class="d-flex justify-content-center" id="branco"> Comece preenchendo seus dados aqui e depois
                    aguarde enquanto nossa equipe analisa os seus dados.</h5>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <h5 class="p-2 background-color: #E8505B"><a style="color: #E8505B;" routerLink = '/home'> Voltar</a></h5>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center mt-5">
                <h5 class="mb-5" style="font-weight: bold;">Para começar, informe os seus dados:</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <div class="formulario">
                    <div class="form-group mb-5">
                        <input type="text" class="form-control" style="height: 60px;" id="campoNome"
                            placeholder=  "Nome Completo" > 
                    </div>
                    <div class="form-group mb-5">
                        <input type="text" class="form-control" style="height: 60px;" id="campoCpf"
                            placeholder="CPF(Proprietário)">
                    </div>

                    <div class="form-group mb-5">
                        <input type="password" class="form-control" style="height: 60px;" id="campoSenha"
                            placeholder="Senha">
                    </div>

                    <div class="form-group mb-5">
                        <input type="password" class="form-control" style="height: 60px;" id="campoConfirmarSenha"
                            placeholder="Confirmar Senha">
                    </div>

                    <div class="form-group mb-5">
                        <input type="text" class="form-control" style="height: 60px;" id="campoNomeEmpresa"
                            placeholder="Nome do Estabelecimento">
                    </div>
                    <div class="form-group mb-5">
                        <input type="text" class="form-control" style="height: 60px;" id="campoCnpj" placeholder="CNPJ">
                    </div>
                    <div class="form-group mb-5">
                        <input type="email" class="form-control" style="height: 60px;" id="campoEmail"
                            placeholder="E-mail">
                    </div>

                    <button type="button" class="btn btn-outline-danger" style="width: 520px;" routerLink = "/home">Enviar</button>

                </div>
            </div>
        </div>
    </div>
    
</div>

<app-footer></app-footer>