<app-navbar></app-navbar>

<div>
    <div class="container-fluid" style="background-color: #E8505B; height: 300px;">
        <div class="row">
            <div class="col-md-12" style="margin-top: 70px;">
                <h1 class="d-flex justify-content-center" id="branco">Solicitar seu beneficio é muito simples!</h1>
                <h5 class="d-flex justify-content-center" id="branco"> Comece preenchendo seus dados aqui e depois aguarde enquanto nossa equipe analisa os seus dados.</h5>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center mt-5">
                <h5 style="font-weight: bold;">Para começar, informe os seus dados:</h5>
            </div>
        </div>
    </div>
</div>
