<div class="principal">
    <div class="container d-flex justify-content-end" style="margin-right: 0px;">
        <div class="row d-flex align-items-center" style="margin-left: 500px;">
            <div class="col-md-12" style="margin-top: 60px;">
                <div id="formContent" style="background-color: #CC0000">
                    <!-- Tabs Titles -->

                    <!-- Icon -->
                    <div class="fadeIn first">
                        <img src="../../assets/Logo.png" id="icon" alt="User Icon" width="100px" height="150px"
                            class="p-3" />
                    </div>

                    <!-- Login Form -->
                    <div>
                        <input type="text" id="login" class="fadeIn second" name="login" placeholder="E-mail"
                        input [(ngModel)] = "usuarioLogin.usuario">
                        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Senha"
                        input [(ngModel)] = "usuarioLogin.senha">
                        <input type="submit" class="fadeIn fourth" value="Login" (click) = "entrar()">
                    </div>

                    <div id="formFooter">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-warning" style="background-color: #E6B400;"
                            data-toggle="modal" data-target="#staticBackdrop1" routerLink="/solicitarbeneficio">
                            Solicite seu Beneficio
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="margin-top: 70px; margin-left: 0px;">
        <div class="row">
            <div class="col-md-6 bg-dark p-0">
                <h1 style="color: #FFFFFF; text-align: center; font-size: 45px; margin-top: 50px;">Conheça o aplicativo da Safer</h1>
                <img src="../../assets/app.png" alt="Foto app" width="600px">
            </div>
            <div class="col-md-6 d-flex justify-content-center p-5" style="background-color: #FFFF00;">
                <img src="../../assets/gif.gif" alt="Gif Aplicativo">
            </div>
        </div>
        <div class="row d-flex justify-content-end" style="background-image: url(../../assets/Comerciante.jpg); height: 600px;">
            <div class="col-md-12 p-0 ">
               
            </div>
        </div>
    </div>

    <div class="container-fluid" style="background-color: #CC0000; height: 550px;">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6" style="margin-top: 200px;">
                <div>
                    <h1 style="color: #FFFFFF;">Crédito Facilitado</h1>
                    <h5 style="color: #ffffff;">Burocracia custa caro. Somos
                        eficientes para você pagar uma taxa baixa.</h5>
                </div>
            </div>
            <div class="col-md-6" style="margin-top: 150px;">
                <h1 style="color: #ffffff; font-size: 150px; text-align: center;">3,00%</h1>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row d-flex justify-content-end" style="background-image: url(../../assets/estudo.jpeg); height: 600px;">
            <div class="col-md-12 p-0 ">
               
            </div>
        </div>
    </div>



    <div class="container" style="margin-top: 80px;">

        <div class="row mt-3 mb-3">

            <div class="col-md-2 border border-white">
                <img style="width: 13rem;" class="rounded-circle border border-white" src="../../assets/david.png"
                    alt="Foto David">
            </div>

            <div class="col-md-4">
                <div class=" p-5">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">David Santos Magalhães</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Desenvolvedor</h6>
                            <a href="https://www.linkedin.com/in/david-santos-ab2b7916a/" class="card-link"
                                target="_blank">LinkedIn</a>
                            <a href="https://github.com/davidsm2k" class="card-link" target="_blank">GitHub</a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-2 border border-white">
                <img style="width: 13rem;" class="rounded-circle border border-white" src="../../assets/alex.jpg"
                    alt="Foto Alex Cesar">
            </div>

            <div class="col-md-4">
                <div class=" p-5">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Alex Cesar</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Business</h6>
                            <a href="https://www.linkedin.com/in/alexcesarn/" class="card-link"
                                target="_blank">LinkedIn</a>
                            <a href="https://github.com/AlexCesarNascimento" class="card-link"
                                target="_blank">GitHub</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>


        <div class="row mt-3 mb-3">

            <div class="col-md-2 border border-white">
                <img style="width: 13rem;" class="rounded-circle border border-white" src="../../assets/Matheus.png"
                    alt="Foto Matheus">
            </div>

            <div class="col-md-4">
                <div class=" p-5">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Matheus Passos</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Business</h6>
                            <a href="https://www.linkedin.com/in/matheus-passos-gomes/" class="card-link"
                                target="_blank">LinkedIn</a>
                            <a href="https://github.com/mathews19" class="card-link" target="_blank">GitHub</a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-2 border border-white">
                <img style="width: 13rem;" class="rounded-circle border border-white" src="../../assets/bruno.png"
                    alt="Foto Bruno Profeta">
            </div>

            <div class="col-md-4">
                <div class=" p-5">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Bruno Profeta</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Desenvolvedor</h6>
                            <a href="https://www.linkedin.com/in/bruno-profeta-cavalcante/" class="card-link"
                                target="_blank">LinkedIn</a>
                            <a href="https://github.com/bpcavalcante" class="card-link" target="_blank">GitHub</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="container">
            <div class="row mt-2">

                <div class="col-md-2 border border-white">
                    <img style="width: 13rem;" class="rounded-circle border border-white" src="../../assets/brunos.png"
                        alt="Foto Bruno Stelzeneder">
                </div>

                <div class="col-md-4">
                    <div class=" p-5">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Bruno Stelzeneder</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Marketing</h6>
                                <a href="https://www.linkedin.com/in/brunostelzeneder/" class="card-link"
                                    target="_blank">LinkedIn</a>
                                <a href="https://github.com/Brunostelzeneder" class="card-link"
                                    target="_blank">GitHub</a>
                            </div>
                        </div>
                    </div>

                </div>


            </div>

        </div>
        <!--/fotos-->
    </div>


<app-footer></app-footer>
</div>

