<div class="principal">
    <div class="container d-flex justify-content-end" style="margin-right: 0px;">
        <div class="row d-flex align-items-center" style="margin-left: 500px;">
            <div class="col-md-12" style="margin-top: 60px;">
                <div id="formContent"  style="background-color: #E8505B;">
                    <!-- Tabs Titles -->

                    <!-- Icon -->
                    <div class="fadeIn first">
                        <img src="../../assets/Logo.png" id="icon" alt="User Icon" width="150px" height="150px"
                            class="p-3" />
                    </div>

                    <!-- Login Form -->
                    <form>
                        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Login">
                        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Senha">
                        <input type="submit" class="fadeIn fourth" value="Login">
                    </form>

                    <div id="formFooter">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-warning" style="background-color: #E6B400;" data-toggle="modal"
                            data-target="#staticBackdrop1" routerLink = "/solicitarbeneficio">
                            Solicite seu Beneficio
                        </button>
                    </div>

                </div>
            </div>
        </div>


    </div>
