<app-navbar></app-navbar>


<div class="" style="margin-top: 100px;">
    <div class="container">
        <div class="card mb-5">
            <div class="card-header d-flex justify-content-center">
                <h3 style="color: #E8505B;">Validação</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <img src="../../assets/aprovado.png" alt="Icone Aprovado" style="width: 350px;">
                    </div>
                    <div class="col-md-6 d-flex justify-content-center">
                        <div style="margin-top: 85px;">
                            <h1 style="color: green;">Seu cadastro está APROVADO !!</h1>
                            <h6>Use o dinheiro com consciência !!</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header d-flex justify-content-center">
                <div>
                    <h3 style="color: #E8505B; text-align: center;">Documentos</h3>
                    <h6>Envie seus documentos para analisarmos se você pode adquirir seu crédito !</h6>
                </div>

            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group mb-5">
                            <label for="exampleFormControlFile1">Contrato Aluguel</label>
                            <div class='input-wrapper'>
                                <label for='input-file'>
                                    Selecionar um arquivo
                                </label>
                                <input id='contratoAluguel' type='file' value='' />
                                <span id='contAluguel'></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group mb-5">
                            <label for="exampleFormControlFile1">Extrato Bancario (Últimos 6 meses)</label>
                            <div class='input-wrapper'>
                                <label for='input-file'>
                                    Selecionar um arquivo
                                </label>
                                <input id='input-file' type='file' value='' />
                                <span id='file-name'></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group mb-5">
                            <label for="exampleFormControlFile1">Notas Emitidas (Últimos 6 meses)</label>
                            <div class='input-wrapper'>
                                <label for='input-file'>
                                    Selecionar um arquivo
                                </label>
                                <input id='input-file' type='file' value='' />
                                <span id='file-name'></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-6 d-flex justify-content-center">
                        <div class="form-group mb-5">
                            <label for="exampleFormControlFile1">Comprovante de Endereço</label>
                            <div class='input-wrapper'>
                                <label for='input-file'>
                                    Selecionar um arquivo
                                </label>
                                <input id='input-file' type='file' value='' />
                                <span id='file-name'></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center">
                        <div class="form-group mb-5">
                            <label for="exampleFormControlFile1">Holerite dos Funcionários (Últimos 6 meses)</label>
                            <div class='input-wrapper'>
                                <label for='input-file'>
                                    Selecionar um arquivo
                                </label>
                                <input id='input-file' type='file' value='' />
                                <span id='file-name'></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <button type="button" class="btn btn-outline-success" style="width: 520px;">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>